In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("kyphosis.csv")

In [18]:
df

    Age  Number  Start  present
0    71       3      5        0
1   158       3     14        0
2   128       4      5        1
3     2       5      1        0
4     1       4     15        0
5     1       2     16        0
6    61       2     17        0
7    37       3     16        0
8   113       2     16        0
9    59       6     12        1
10   82       5     14        1
11  148       3     16        0
12   18       5      2        0
13    1       4     12        0
14  168       3     18        0
15    1       3     16        0
16   78       6     15        0
17  175       5     13        0
18   80       5     16        0
19   27       4      9        0
20   22       2     16        0
21  105       6      5        1
22   96       3     12        1
23  131       2      3        0
24   15       7      2        1
25    9       5     13        0
26    8       3      6        0
27  100       3     14        0
28    4       3     16        0
29  151       2     16        0
..  ...     ...    ...      ...
51    9       2     17        0
52  139      10      6        1
53    2       2     17        0
54  140       4     15        0
55   72       5     15        0
56    2       3     13        0
57  120       5      8        1
58   51       7      9        0
59  102       3     13        0
60  130       4      1        1
61  114       7      8        1
62   81       4      1        0
63  118       3     16        0
64  118       4     16        0
65   17       4     10        0
66  195       2     17        0
67  159       4     13        0
68   18       4     11        0
69   15       5     16        0
70  158       5     14        0
71  127       4     12        0
72   87       4     16        0
73  206       4     10        0
74   11       3     15        0
75  178       4     15        0
76  157       3     13        1
77   26       7     13        0
78  120       2     13        0
79   42       7      6        1
80   36       4     13        0

[81 rows x 4 columns]

In [4]:
kyphosis = pd.get_dummies(df['Kyphosis'],drop_first=True)

In [5]:
df = pd.concat([df,kyphosis],axis=1)

In [6]:
df.head()

  Kyphosis  Age  Number  Start  present
0   absent   71       3      5        0
1   absent  158       3     14        0
2  present  128       4      5        1
3   absent    2       5      1        0
4   absent    1       4     15        0

In [7]:
df.drop('Kyphosis',inplace=True,axis=1)

In [8]:
X = df.drop('present',axis=1)
y = df['present']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [11]:
from sklearn.tree import DecisionTreeClassifier

In [12]:
dtree = DecisionTreeClassifier()

In [13]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [14]:
predictions = dtree.predict(X_test)

In [15]:
from sklearn.metrics import classification_report, confusion_matrix

In [16]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          0       0.94      0.76      0.84        21
          1       0.38      0.75      0.50         4

avg / total       0.85      0.76      0.79        25

In [17]:
print(confusion_matrix(y_test,predictions))

[[16  5]
 [ 1  3]]